In [8]:
#ASSIGNMENT 1 IF ELSE

a=10
b=20
if a > b :
  print("a is greater : " ,a)
else:
  print("b is greater : " ,b)

b is greater :  20

In [10]:
#ASSIGNMENT 2 cONDITIONAL STATEMENT
A=float(input("ENTER THE FIRST NO."))
B=float(input("ENTER THE SECOND NO."))
C=float(input("ENTER THE THIRD NO."))

if A > B and A > C:
  print(A," is greater than ",B, " and ",C)
elif B > A and B > C:
  print(B," is greater than ",A, " and ",C)
else:
  print(C," is greater than ",A, " and ",B)

ENTER THE FIRST NO.40
ENTER THE SECOND NO.50
ENTER THE THIRD NO.20
50.0  is greater than  40.0  and  20.0

In [15]:
#A list containing squares of numbers from 1 to 10
sqr=[]
for x in range(1,11):
  sqr.append(x**2)
print(sqr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [35]:
#Function to check if year  is a leap year
def leap_year_check(year):
  if year % 4 == 0:
    print(year," is a leap year.")
  else:
    print(year," is not a leap year.")
  
year=int(input("Enter a year : "))
leap_year_check(year)

Enter a year : 2012
2012  is a leap year.

In [30]:
''' Function to take an array and return another array that contains the members of first
array that are even '''

def even_array_list(list1):
  li2=[]
  for x in list1:
    if x % 2 ==0:
      li2.append(int(x))
  return(li2)

list1=[]
a=int(input("ENTER THE TOTAL NO. OF NUMBERS YOU WANT TO INPUT : "))
for x in range(0,a):
  b=float(input("Enter a number : "))
  list1.append(b)
print("Entered List : ",list1)
print("List with even numbers :",even_array_list(list1))

ENTER THE TOTAL NO. OF NUMBERS YOU WANT TO INPUT : 10
Enter a number : 1.1
Enter a number : 2
Enter a number : 3
Enter a number : 5
Enter a number : 4.0
Enter a number : 4.8
Enter a number : 8
Enter a number : 9
Enter a number : 10.3
Enter a number : 10.2
Entered List :  [1.1, 2.0, 3.0, 5.0, 4.0, 4.8, 8.0, 9.0, 10.3, 10.2]
List with even numbers : [2, 4, 8]

In [32]:
'''Function that takes 2 arrays and prints the members of first array that are present of
second array'''

list1=[1,2,3,4,5,6,7,8,9,10]
list2=[4,6,10,15,17,19]

def compare_lists(list1,list2):
  for x in list1:
    if x in list2:
      print(x)


compare_lists(list1,list2)

4
6
10

In [37]:
#Module 1 - Introduction to Python Assignment - 2
#Concatenate the two tuples and store it in “t_combine”
tup1=(10,20,30)
tup2=(40,50,60)
t_combine=tup1+tup2
print(t_combine)

(10, 20, 30, 40, 50, 60)

In [58]:
#Repeat the elements of “t_combine” 3 times
rep=t_combine*3
print(rep)

(10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60, 10, 20, 30, 40, 50, 60)

In [59]:
#Access the 3rd element from “t_combine”
t_combine[2]

30

In [43]:
#Access the first three elements from “t_combine”
t_combine[:3]

(10, 20, 30)

In [57]:
#Access the last three elements from “t_combine”
t_combine[:-4:-1]

(60, 50, 40)

In [69]:
#Create a list ‘my_list’ with these elements:
#First element is a tuple with values 1,2,3
#Second element is a tuple with values “a”,”b”,”c”
#Third element is a tuple with values True,False'''
my_list=[(1,2,3),("a","b","c"),(True,False)]
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False)]

In [71]:
#Append a new tuple – (1,’a’,True) to ‘my_list’
my_list.append((1,'a',True))
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), (1, 'a', True)]

In [76]:
#Append a new list – [“sparta”,123] to my_list 
my_list.append(["sparta",123])
my_list

[(1, 2, 3), ('a', 'b', 'c'), (True, False), (1, 'a', True), ['sparta', 123]]

In [80]:
fruit={'Fruit':("Apple","Banana","Mango","Guava"),'Cost': (85,54,120,70)}
print(fruit.keys())
print(fruit.values())

dict_keys(['Fruit', 'Cost'])
dict_values([('Apple', 'Banana', 'Mango', 'Guava'), (85, 54, 120, 70)])

In [82]:
my_set={1,1,"a","a",True,True}
my_set

{1, 'a'}